h1 {
    text-align: center;
}

.title {
    font-weight: bold;
    margin-left: auto;
    margin-right: auto;
    font-size: 3rem;
}

.footer-padding {
    padding-bottom: 2.5rem;
    padding-top: 4rem;
}

#home-footer {
    width: 100%;
    position: absolute;
    bottom: 0;
}

.table-container {
    margin: auto;
    width: 80%;
    margin-top: 35px;
    font-size: 20px;
}

.table-row {
    display: flex;
}

.table-column {
    white-space: nowrap;
    padding: 15px;
    margin: 2px;
    text-overflow: ellipsis;
    overflow: hidden;
    background-color: lightgrey;
}

.name {
    flex-basis: 15%;
}

.name2 {
    flex-basis: 15%;
}

.phone {
    flex-basis: 15%;
}

.phone2 {
    flex-basis: 15%;
}

.email {
    flex-basis: 20%;
}

.email2 {
    flex-basis: 20%;
}

.address {
    flex-basis: 10%;
    flex-grow: 2;
}

.header {
    font-weight: bolder;
    background-color: lightgrey;
}

.edit-contact, .delete-contact {
    cursor: pointer;
    text-align: center;
    flex-basis: 7%;
}

.edit-contact {
    background-color: #fee12b;
}

.delete-contact {
    background-color: lightcoral;
}

.add-entry-column {
    cursor: pointer;
    text-align: center;
    flex-basis: 7%;
    background-color: lightgreen;
}

#newPersonModal {
    z-index: 99;
    margin-left: calc(50% - 250px);
    padding: 10px;
    position: absolute;
    width: 500px;
    top: 50px;
    background-color: turquoise;
    border-radius: 3px;
}

#newPersonModal input {
    width: 100%;
    border: 3px;
    display: block;
    padding: 10px;
    margin-bottom: 15px;
}

#container_id {
    width: 100%;
    border: 3px;
    display: inline-block;
    padding: 10px, 10px, 0px, 10px;
    margin-top: 5px;
}

.input-err {
    background-color: red;
}

#backdrop {
    z-index: 50;
    background-color: rgba(0, 0, 0, 0.6);;
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}

#newPersonSubmitBtn {
    background-color: lightblue;
}

#newPersonCancelBtn {
    background-color: red;
}

button {
    cursor: pointer;
    border: none;
    float: right;
    border-radius: 5px;
    margin: 5px;
    padding: 15px;
}

button:hover {
    padding: 11px;
}

.disable-modal {
    visibility: hidden;
}

.enable-modal {
    visibility: visible;
}

i {
    pointer-events: none;
}

.input-error {
    background-color: red;
}