
{% extends "base.html" %} 
{% block content %}


<!-- container -->
<div id="postcode_lookup"></div>  

<!-- Add to your existing form -->
<label>First Address Line</label>
<input id="formatted_address_0" type="text"> 

<label>Second Address Line</label>
<input id="formatted_address_1" type="text">   

<label>Third Address Line</label>
<input id="formatted_address_2" type="text">  

<label>Town</label>
<input id="formatted_address_3" type="text">

<label>County</label>
<input id="formatted_address_4" type="text">

<label>Postcode</label>
<input id="postcode" type="text">

<script src="assets/js/script.js"></script>

{% endblock %}