
{% extends "base.html" %} 
{% block content %}

<ul class="collapsible">
    {% for task in tasks|sort(attribute="due_date") %}
    <li>
        <div class="collapsible-header white-text light-blue darken-4">
            <i class="fas fa-caret-down"></i>
            <strong>{{ task.task_name }}</strong> : {{ task.due_date.strftime("%d %B, %Y") }}
            {% if task.is_urgent == True %}
                <i class="fas fa-exclamation-circle light-blue-text text-lighten-2"></i>
            {% endif %}
        </div>
        <div class="collapsible-body">
            <strong>{{ task.category }}</strong>
            <p>{{ task.task_description }}</p>
            <p>
                <a href="{{ url_for('edit_task', task_id=task.id) }}" class="btn green accent-4">Edit</a>
                <a href="{{ url_for('delete_task', task_id=task.id) }}" class="btn red">Delete</a>
            </p>
        </div>
    </li>
    {% endfor %}
</ul>

<!-- container -->
<div id="postcode_lookup"></div>  

<!-- Add to your existing form -->
<label>First Address Line</label>
<input id="formatted_address_0" type="text"> 

<label>Second Address Line</label>
<input id="formatted_address_1" type="text">   

<label>Third Address Line</label>
<input id="formatted_address_2" type="text">  

<label>Town</label>
<input id="formatted_address_3" type="text">

<label>County</label>
<input id="formatted_address_4" type="text">

<label>Postcode</label>
<input id="postcode" type="text">

<script src="assets/js/script.js"></script>

{% endblock %}